.carousel {
  .flex(center, flex-start);
  height: 100vh;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  // filter: sepia(75%);
  // -webkit-filter: sepia(75%);
  // -moz-filter: sepia(75%);

  .left-button, .right-button {
    .flex(center, center);
    color: @color-bg;
    background-color: @color-base;
    font-size: 40px;
    border-radius: 50%;
    position: absolute;
    z-index: 99;
    width: 60px;
    height: 60px;
    &:hover {
      color: @color-base;
      background-color: @color-bg;
      border: 2px solid @color-base;
    }
  }
  .left-button {
    top: 50%; 
    left: 25px;
    transform: translate(0, -50%);
  }
  .right-button {
    top: 50%; 
    right: 25px;
    transform: translate(0, -50%);
  }  
  img {
    width: 100%;
    display: none;
    top: 0;
  }
  .show {
    display: flex;
  }
}