.homePage {
    .flex(center, stretch, row, wrap);
    width: 100%;

    .main {
        .flex(center, center);
        .shadow-drop(@color-bg, 2px, 2px, 0);
        font-weight: bold;
        font-size: 1.8rem;
    }
    article {
        display: none;

        header {
            font-size: 2.4rem;
            margin: 50px 0;
        }
    }
    .show {
      display: inline-block;
    }
    footer {
        text-align: center;
        position: fixed;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}