header {
    .flex(center);
    width: 100%;

    nav {
        .flex(space-between);
        width: 100%;
        padding-top: 15px;
        text-shadow: 1px 1px 5px @color-bg;
        color: @color-base;
        // flex: 1 100%; /* We tell all items to be 100% width, via flex-basis */

        // .navbar {
        //     .flex(space-between);
        // } 

        a {
            margin: 20px;
            color: @color-base;
        }
    }
}

.navbarBG {    
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: @color-bg;
    opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}

//border: 2px solid black;