header {
    .flex(space-between, center);
    width: 100%;

    nav {
        .flex(space-between, center);
        width: 100%;
        padding: 5px 20px;
        color: @color-base;
        font-weight: bold;

        .navbar {
            .flex(space-between, center);
            width: 80%;
        } 

        a {
            margin: 5px;
            color: @color-base;
            font-weight: bold;
        }
            
        .active {
            // Action on class active
            text-decoration-line: overline underline;
            text-decoration-style: double;
            text-decoration-color: @color-lighten3;
        }
    }
    //  img {
    // }
}