.portfolioPage {
    .main {
        .content-container {
            .flex(space-around, stretch, row, wrap);

        }
        article {
            .box-shadow(2px; 2px; 5px; #000);
            flex-basis: 30%;
            margin: 15px 5px;
            padding: 10px;
        }

        img {
            width: 100px;
        }
    }
}