@font-face {
  font-family: 'Lemon';
  font-style: normal;
  font-weight: 400;
  src: local('Lemon Regular'), local('Lemon-Regular'), url(https://fonts.gstatic.com/s/lemon/v7/HI_EiYEVKqRMq3jGQ5E.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v8/BngMUXZYTXPIvIBgJJSb6ufN5qA.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: FloralWhite;
  color: #5F3E6C;
  font-family: 'Roboto Slab', serif;
  background: url("../img/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wrapper {
  width: 100%;
  max-width: 1000px;
  position: absolute;
  top: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lemon', "Comic Sans MS", cursive, sans-serif;
}
a {
  color: #5F3E6C;
  text-decoration: none;
}
footer {
  line-height: 1.5em;
}
footer a {
  text-decoration: underline;
}
.carousel {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
}
.carousel .left-button,
.carousel .right-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  color: FloralWhite;
  background-color: #5F3E6C;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  z-index: 99;
  width: 60px;
  height: 60px;
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: #5F3E6C;
  background-color: FloralWhite;
  border: 2px solid #5F3E6C;
  cursor: pointer;
}
.carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.carousel img {
  display: none;
  top: 0;
}
.carousel .show {
  display: inline-block;
}
.landscape {
  width: 100%;
  height: 100vh;
}
.landscape img {
  width: 100%;
}
.portrait img {
  height: 100vh;
}
#headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
#headerNav nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding: 5px 20px;
  color: #5F3E6C;
  font-weight: bold;
}
@media (max-width: 800px) {
  #headerNav nav {
    font-size: 0.85rem;
  }
}
#headerNav nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80%;
}
@media (max-width: 500px) {
  #headerNav nav .navbar.responsive {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}
@media (max-width: 500px) {
  #headerNav nav .navbar.responsive a {
    flex-basis: 100%;
    display: block;
  }
}
@media (max-width: 500px) {
  #headerNav nav .navbar a {
    display: none;
    flex-basis: 100%;
  }
}
#headerNav nav .navbar a {
  margin: 5px;
  color: #5F3E6C;
  font-weight: bold;
}
#headerNav nav .navbar .active {
  text-decoration-line: overline underline;
  text-decoration-style: double;
  text-decoration-color: #ac88bb;
}
#headerNav nav .icon {
  display: none;
}
@media (max-width: 500px) {
  #headerNav nav .icon {
    display: flex;
  }
}
@media (max-width: 800px) {
  #headerNav img {
    width: 100px;
  }
}
.homePage {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.homePage #carouselContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-filter: drop-shadow(FloralWhite 1px 1px 2px);
  filter: drop-shadow(FloralWhite 1px 1px 2px);
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
}
.homePage #carouselContent article {
  display: none;
  background-color: rgba(255, 250, 240, 0.3);
  border-radius: 20px;
  margin: 40px 0;
  padding: 15px 10px;
}
.homePage #carouselContent article h1 {
  font-size: 2.4rem;
}
.homePage #carouselContent article p {
  font-family: 'Roboto Slab', serif;
}
.homePage #carouselContent .show {
  display: inline-block;
}
.homePage footer {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-filter: drop-shadow(FloralWhite 1px 1px 2px);
  filter: drop-shadow(FloralWhite 1px 1px 2px);
}
.portfolioPage .main .topcis {
  font-size: 0.9rem;
  width: 600px;
  margin: -30px auto 20px;
  border-bottom: 2px solid #5F3E6C;
}
.portfolioPage .main .topcis .topicTheme,
.portfolioPage .main .topcis .topicLocation,
.portfolioPage .main .topcis .topicPlannername {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: default;
  flex-wrap: wrap;
  margin: 10px;
}
.portfolioPage .main .topcis .topicTheme .title,
.portfolioPage .main .topcis .topicLocation .title,
.portfolioPage .main .topcis .topicPlannername .title {
  background-color: FloralWhite;
  border-radius: 5px;
}
.portfolioPage .main .topcis .topicTheme .topic,
.portfolioPage .main .topcis .topicLocation .topic,
.portfolioPage .main .topcis .topicPlannername .topic {
  flex: 0 1 auto;
  margin: 2px 2px;
  padding: 5px;
  background-color: #5F3E6C;
  color: FloralWhite;
  border: 2px solid #5F3E6C;
}
.portfolioPage .main .topcis .topicTheme .active,
.portfolioPage .main .topcis .topicLocation .active,
.portfolioPage .main .topcis .topicPlannername .active {
  background-color: FloralWhite;
  color: #5F3E6C;
  border: 2px solid #5F3E6C;
}
@media (max-width: 800px) {
  .portfolioPage .main .topcis {
    margin: 0 auto 20px;
    max-width: 600px;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .portfolioPage .main .topcis {
    flex: 1 100%;
  }
}
.portfolioPage .main .content-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}
.portfolioPage .main article {
  -webkit-box-shadow: 2px 2px 5px #000;
  -moz-box-shadow: 2px 2px 5px #000;
  box-shadow: 2px 2px 5px #000;
  background-color: rgba(255, 250, 240, 0.8);
  flex: 0 1 30%;
  min-width: 30%;
  margin: 10px 5px;
  padding: 5px;
  text-align: center;
}
.portfolioPage .main article div {
  padding: 10px;
}
@media (max-width: 800px) {
  .portfolioPage .main article {
    flex: 1 45%;
  }
}
@media (max-width: 500px) {
  .portfolioPage .main article {
    flex: 1 100%;
  }
}
.portfolioPage .main .weddingTheme {
  font-size: 1.2rem;
  padding: 10px;
}
.portfolioPage .main img {
  width: 90%;
}
.portfolioPage .main .weddingDescription {
  font-size: 0.9rem;
}
.portfolioPage .main .weddingLocation {
  font-size: 1.2rem;
  font-weight: bold;
}
.portfolioPage .main .weddingLocation p {
  padding: 10px;
}
.portfolioPage .main span {
  font-size: 1rem;
  text-decoration: underline;
}
.portfolioPage .main .weddingPlanner {
  font-size: 1.2rem;
  font-family: 'Lemon', "Comic Sans MS", cursive, sans-serif;
}
.blogPage .main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 50px;
}
@media (max-width: 500px) {
  .blogPage {
    /* All items to be 100% width, via flex-basis */
  }
  .blogPage .main > * {
    flex: 1 100%;
  }
}
.blogPage .topcis {
  order: 1;
  font-size: 0.9rem;
  margin: 0 20px 0 0;
  border-bottom: 2px solid #5F3E6C;
}
.blogPage .topcis div {
  margin: 20px 0;
  padding: 5px;
}
.blogPage .topcis .topic {
  background-color: #5F3E6C;
  color: FloralWhite;
  border: 2px solid #5F3E6C;
}
.blogPage .topcis .active {
  background-color: FloralWhite;
  color: #5F3E6C;
  border: 2px solid #5F3E6C;
}
.blogPage .content-container {
  /* main element takes twice as much width */
  flex: 2 0px;
  order: 2;
}
.blogPage .rightSide {
  order: 3;
}
@media (max-width: 800px) {
  .blogPage .rightSide {
    display: none;
  }
}
.blogPage article {
  -webkit-box-shadow: 2px 2px 5px #000;
  -moz-box-shadow: 2px 2px 5px #000;
  box-shadow: 2px 2px 5px #000;
  margin: 0 0 20px 0;
  line-height: 1.2em;
}
.blogPage article img {
  width: 50%;
  min-width: 200px;
  float: left;
  padding: 0 10px 5px 0;
}
.blogPage article div h3 {
  padding: 0 0 20px 0;
}
.blogPage .topcis,
.blogPage .rightSide,
.blogPage article {
  background-color: rgba(255, 250, 240, 0.6);
  padding: 10px;
}
